<div class="login">
    <div id="container">
      <form class="form" id="login">
        <div class="title">
          <button type="button" (click)="onBack()">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <h1 class="form__title">Quên mật khẩu</h1>
        </div>
  
        <div class="form__input-group">
          <input type="text" id="getemail" class="form__input" name="email" [(ngModel)]="emailForgot.email" autofocus placeholder="Username or email" />
        </div>
        <div class="form__input-error-message" *ngIf="!emailForgot.email" style="color: red;font-family: Arial, Helvetica, sans-serif; margin: 0 0 10px 10px;" >Email không được để trống</div>
  
        <button *ngIf="isButtonSend" class="form__button" type="button" (click)="showOTPSection()">Gửi</button>
  
        <!-- Phần nhập OTP (ẩn khi chưa có yêu cầu) -->
        <div *ngIf="isOTPVisible" class="form__input-group">
          <input type="text" id="otp" class="form__input" name="otp" [(ngModel)]="otp" placeholder="Nhập mã OTP" />
          <div class="form__input-error-message"></div>
        </div>
  
        <!-- Nút Xác nhận (sẽ hiện lên khi nhập OTP) -->
        <button *ngIf="isOTPVisible" class="form__button" type="button" (click)="verifyOTP()">Xác nhận</button>
      </form>
    </div>
</div>
  