<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-estate"></i>
            <span class="text">HOME</span>
        </div>
        <div class="boxes">
            <div class="box box1" >
                <i class="uil uil-users-alt"></i>
                <span class="text">Khách hàng</span>
                <span class="number">{{countCustomer}}</span>
            </div>
            <div class="box box2">
                <i class="uil uil-clipboard-notes"></i>
                <span class="text">Đơn hàng</span>
                <span class="number">{{countOrder}}</span>
            </div>
            <div class="box box3">
                <i class="uil uil-usd-circle"></i>
                <span class="text">Doanh Số</span>
                <span class="number">{{revenue}}</span>
            </div>
        </div>
    </div>


    <div id="piechart" style="width: 900px; height: 500px;"></div>
</div>

