<section id="Slide">
    <button class="next-img" (click)="changeImageleft()"><</button>
    <div class="aspect-ratio-169">
      <img #aspectImg src="https://media.canifa.com/Simiconnector/BannerSlider/m/d/mddt_topbanner_desktop-13.01.25.webp">
      <img #aspectImg src="https://media.canifa.com/Simiconnector/BannerSlider/a/o/aolen_topbanner_desktop-13.11.webp">
      <img #aspectImg src="https://file.hstatic.net/1000360022/file/banner_trang_chu_1-pc.jpg">
      <img #aspectImg src="https://file.hstatic.net/1000360022/file/banner_2_dk.jpg">
    </div>
    <button class="next-img" (click)="changeImage()">></button>
</section>
