li {
    list-style: none;
}
a {
    text-decoration: none;
    color:  #000;
}
.app-container {
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}
.app-google {
    margin: 50px;
}
.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.app-container input {
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    padding-top : 4px;
}
footer {
    text-align: center;
}
.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top img {
    height: 50px;
}
.footer-top li {
    padding : 0 12px;
    position: relative;
}
.footer li::after {
    content: "";
    display: block;
    width : 2px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a {
    margin-right: 12px;
    color: #333;
}
footer p span {
    font-weight: bold;
}
.footer-center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer-bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}
hr {
    border: 2px solid #000;
}